In [1]:
import pandas as pd
import numpy as np
import os
import json
import nltk
import re

##### PLS ENTER YOU INSTA NAME, IF YOU ARE NOT SURE, REFER TO CELL 4 FOR INSTRUCTIONS, 

sender_name = 'washeem'

In [2]:
## THIS FUNCTION TAKES IN THE FOLDER NAME OF INTEREST YOU HAVE CHOSEN AND THE CORRESPONG JSON FILE YOU WANNA ACCESS
## AND ASSIGNS THE VALUES TO THE data variable

def read_my_data(folder_name_of_interest,folder_name_of_interest_contents):
    with open(folder_name_of_interest + '/'+ folder_name_of_interest_contents) as json_file:
        data = json.load(json_file)
    return(data)

def dm_stats_generator(list_of_msgs):
    sent_content = 0;
    recieved_content = 0;
    sent_not_a_text_msg = 0;
    recieved_not_a_text_msg = 0;

    for idx in range (0, len(list_of_msgs)):
        msg_pkt = list_of_msgs[idx]
        if len(msg_pkt)==5:
            try:
                if msg_pkt['sender_name']==sender_name:
                    if msg_pkt['content'] == 'Liked a message':
                        sent_not_a_text_msg = sent_not_a_text_msg + 1
                    else:
                        sent_content = sent_content + 1
                elif msg_pkt['sender_name']!=sender_name:
                    if msg_pkt['content'] == 'Liked a message':
                        recieved_not_a_text_msg = recieved_not_a_text_msg + 1
                    else:
                        recieved_content = recieved_content + 1 
            except:
                if msg_pkt['sender_name']==sender_name:
                    sent_not_a_text_msg = sent_not_a_text_msg + 1
                else:
                    recieved_not_a_text_msg = recieved_not_a_text_msg + 1
        else:
            if msg_pkt['sender_name']==sender_name:
                sent_not_a_text_msg = sent_not_a_text_msg + 1
            else:
                recieved_not_a_text_msg = recieved_not_a_text_msg + 1
    return sent_not_a_text_msg,recieved_not_a_text_msg,recieved_content,sent_content

In [3]:
## Lets see all the folder names in the directory
folder_names_list = os.listdir()
# display(folder_names_list)

In [4]:
folder_name_of_interest = 'messages'
folder_name_of_interest_contents = os.listdir(folder_name_of_interest)
# display(folder_name_of_interest_contents)

contacts_msged = os.listdir(folder_name_of_interest+'/'+folder_name_of_interest_contents[0])
# display(contacts_msged)

contact_list = []
sent_rxn_list = []
rec_rxn_list = []
rec_msg_list = []
sent_msg_list = []

for contacts in contacts_msged:
    
    contents_in_contact =  os.listdir(folder_name_of_interest+'/'+folder_name_of_interest_contents[0] +'/'+contacts)
    first = folder_name_of_interest+'/'+folder_name_of_interest_contents[0] +'/'+contacts ;
    second = 'message_1.json'
    data = read_my_data(first,second)
    list_of_msgs = data['messages']
    
#     display(list_of_msgs)

    ## IF YOU DONT KNOW YOUR INSTA NAME, 
    ## UNCOMMENT THE DISPLAY LINE ABOVE
    ## COMMENT EVERYTHIN BELOW THIS LINE TILL THE NEXT LINE BREAK AND RUN ENTIRE NOTEBOOK
    
    sent_rxn,rec_rxn,rec_msg,sent_msg = dm_stats_generator(list_of_msgs)
    
    contact_list.append(contacts)
    sent_rxn_list.append(sent_rxn)
    rec_rxn_list.append(rec_rxn)
    rec_msg_list.append(rec_msg)
    sent_msg_list.append(sent_msg)
#################################################################### END OF COMMENT SECTION FOR NAME FINDING ########

In [5]:
contact_srs = pd.Series(contact_list)
sent_rxn_srs = pd.Series(sent_rxn_list)
rec_rxn_srs = pd.Series(rec_rxn_list)
rec_msg_srs = pd.Series(rec_msg_list)
sent_msg_srs = pd.Series(sent_msg_list)

insta_df = pd.concat([contact_srs,sent_rxn_srs,rec_rxn_srs,rec_msg_srs,sent_msg_srs],
                            axis=1,
                            keys=["Name", "Sent_rxns", "Rec_rxns","Rec_msgs","Sent_msgs"])


# insta_df.head()
insta_df

                           Name  Sent_rxns  Rec_rxns  Rec_msgs  Sent_msgs
0     aaronhenderson_lqj-oocbua          0         0         0          1
1    aathiraunnithan_omqjkvrg6a          1         3         0          1
2         abbysimone_mgxgqhhvyw          0         0         0          1
3         abdulazeez_dckkanoypg          2         5        14         12
4          abdulrauf_adhjetqlwg          0         1         0          0
..                          ...        ...       ...       ...        ...
340                  z49yuuuu4q          0         1        24         19
341        zainuuuuu_zzsll0zbma          0         0         1          4
342        zakyrmuhd_oomgbqeuta          1        11        53         36
343    zhabdulhafeez_t48te95bkw          2         4         0          0
344       _kidflame__sprsgcam2w          3         4        11         11

[345 rows x 5 columns]

In [6]:
## lETS DO SOME FILTERING
insta_df = insta_df[insta_df["Name"]!='goodthingsmustshare_tr5lvervha']

cond1 = insta_df['Sent_rxns']!=0
cond2 = insta_df['Rec_rxns']!=0
cond3 = insta_df['Rec_msgs']!=0
cond4 = insta_df['Sent_msgs']!=0

insta_df = insta_df[cond1 & cond2 & cond3 & cond4]
insta_df

                         Name  Sent_rxns  Rec_rxns  Rec_msgs  Sent_msgs
3       abdulazeez_dckkanoypg          2         5        14         12
7     ahamadfareed_cupsmiohtg          1         4         3          3
9         akhilesh_qulitu4i6a        186       340       370        327
11   akshayaprabhu_u8opykofua         12        18         6         14
12        akshaya__akmxlsnxya         31        52       504        309
..                        ...        ...       ...       ...        ...
328            vin_vybfdnahua          7        17        76         79
329        vishnuu_pnr1bl8hja          2         6         2          3
337      yuketacea_siqpcqf07g          7        19        41         30
342      zakyrmuhd_oomgbqeuta          1        11        53         36
344     _kidflame__sprsgcam2w          3         4        11         11

[169 rows x 5 columns]

In [7]:
insta_df['Sent_msgs_per_sent_rxn'] = insta_df['Sent_msgs']/insta_df['Sent_rxns']
insta_df['Recv_msgs_per_Rec_rxn'] = insta_df['Rec_msgs']/insta_df['Rec_rxns']
insta_df['Sent_msgs_per_Rec_rxn'] = insta_df['Sent_msgs']/insta_df['Rec_rxns']
insta_df['Recv_msgs_per_sent_rxn'] = insta_df['Rec_msgs']/insta_df['Sent_rxns']
# insta_df = insta_df.dropna(axis=0)
insta_df.to_csv('insta_stats.csv',index=False)

In [8]:
analysis_tbl = insta_df.describe()
display(analysis_tbl)

a = insta_df[insta_df.Sent_rxns == analysis_tbl.Sent_rxns.loc['max']].Name
b = insta_df[insta_df.Rec_rxns == analysis_tbl.Rec_rxns.loc['max']].Name
c = insta_df[insta_df.Sent_msgs == analysis_tbl.Sent_msgs.loc['max']].Name
d = insta_df[insta_df.Rec_msgs == analysis_tbl.Rec_msgs.loc['max']].Name

print('Sent Most Rxns ' + str(int(analysis_tbl.Sent_rxns.loc['max'])) + ' to: ' + a)
print('--------')
print('Recieved Most Rxns '+ str(int(analysis_tbl.Rec_rxns.loc['max'])) +  ' from:',b)
print('--------')
print('Sent Most Msgs ' + str(int(analysis_tbl.Sent_msgs.loc['max'])) + ' to: ' + c)
print('--------')
print('Recieved Most Msgs ' + str(int(analysis_tbl.Rec_msgs.loc['max'])) + ' from: ' + d)
print('--------')

,Sent_rxns,Rec_rxns,Rec_msgs,Sent_msgs,Sent_msgs_per_sent_rxn,Recv_msgs_per_Rec_rxn,Sent_msgs_per_Rec_rxn,Recv_msgs_per_sent_rxn
count,169.000000,169.000000,169.000000,169.000000,169.000000,169.000000,169.000000,169.000000
mean,16.615385,34.313609,63.982249,52.875740,4.591490,1.988264,1.672087,5.224655
std,28.322127,53.334880,144.944508,114.100112,5.406678,2.363148,1.545806,7.720421
min,1.000000,1.000000,1.000000,1.000000,0.050000,0.055556,0.027778,0.100000
25%,2.000000,6.000000,5.000000,6.000000,1.250000,0.514286,0.555556,1.000000
50%,6.000000,14.000000,16.000000,16.000000,2.666667,1.125000,1.250000,2.818182
75%,20.000000,36.000000,51.000000,44.000000,5.500000,2.500000,2.200000,6.200000
max,186.000000,340.000000,1277.000000,1055.000000,36.000000,14.000000,9.666667,53.000000

9    Sent Most Rxns 186 to: akhilesh_qulitu4i6a
Name: Name, dtype: object
--------
Recieved Most Rxns 340 from: 9    akhilesh_qulitu4i6a
Name: Name, dtype: object
--------
317    Sent Most Msgs 1055 to: toediaries_qh-ewjok8g
Name: Name, dtype: object
--------
317    Recieved Most Msgs 1277 from: toediaries_qh-ew...
Name: Name, dtype: object
--------

In [9]:
# insta_df_rxnship = insta_df[insta_df['Sent_msgs_per_Rec_rxn'] > insta_df['Recv_msgs_per_sent_rxn']]
# insta_df_rxnship

cond1 = insta_df['Sent_msgs_per_sent_rxn'] < 1
cond2  = insta_df['Recv_msgs_per_Rec_rxn'] < 1
cond3 = insta_df['Sent_msgs_per_sent_rxn'] > 1
cond4 = insta_df['Recv_msgs_per_Rec_rxn'] > 1

cond5 = insta_df['Recv_msgs_per_sent_rxn'] > insta_df['Sent_msgs_per_Rec_rxn']

cond6 = insta_df['Recv_msgs_per_sent_rxn'] < 1

cond7 = insta_df['Sent_msgs_per_Rec_rxn'] > 1

cond7b = insta_df['Sent_msgs_per_Rec_rxn'] < 1

insta_df_rxnship_mutual = insta_df[cond1 & cond2]
# display(insta_df_rxnship_mutual)

insta_df_i_rsh_they_rxn = insta_df[cond3 & cond2]
# # display(insta_df_i_rsh_they_rxn)

insta_df_they_more_excited = insta_df[cond5]
# display(insta_df_they_more_exctied)

insta_df_trbl_them_responding = insta_df[cond6]
# display(insta_df_they_more_exctied)

insta_df_they_excite_u = insta_df[cond7]
# display(insta_df_they_excite_u)

insta_df_they_bore_u = insta_df[cond7b & cond6]
# display(insta_df_they_bore_u)

print('You have a mutual RXNship with ' + str(len(insta_df_rxnship_mutual)) + '/' + str(len(insta_df)) + ' ppl u dm' )
print('You want a Rship with ' + str(len(insta_df_i_rsh_they_rxn)) + '/' + str(len(insta_df)) + ' of em BUT THEY ONLY WANT A RXNSHIP' )
print( str(len(insta_df_they_more_excited)) + '/' + str(len(insta_df)) + ' Are more excited to talk to you than you are to them' )
print('You may have trouble sparking a convo with ' + str(len(insta_df_trbl_them_responding)) + '/' + str(len(insta_df)) + ' of ppl ' )
print(str(len(insta_df_they_excite_u)) + '/' + str(len(insta_df)) + ' Excite You!' )
print(str(len(insta_df_they_bore_u)) + '/' + str(len(insta_df)) + ' Bore you' )

You have a mutual RXNship with 24/169 ppl u dm
You want a Rship with 44/169 of em BUT THEY ONLY WANT A RXNSHIP
150/169 Are more excited to talk to you than you are to them
You may have trouble sparking a convo with 31/169 of ppl
97/169 Excite You!
30/169 Bore you